doctype html
html(ng-app="test")
	head
		title Hello AWS
		script(src='/components/jquery/dist/jquery.min.js')
		script(src='/components/angular/angular.min.js')
		script(src='/components/angular-socket-io/socket.js')
		script(src='/socket.io/socket.io.js')
		script(src='/lib/main.js')
		script(src='/components/bootstrap/js/collapse.js')
		script(src="/components/hide-address-bar/hide-address-bar.js")
		link(rel='stylesheet',href='/components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet',href='/components/csshake/csshake.min.css')
		meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
	body
		.container
			nav.navbar.navbar-default
				.container-fluid
					.navbar-header
						button.navbar-toggle(type='button',data-toggle='collapse',data-target='#navbar-collapse-1')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar						
						a.navbar-brand AWS EC2
					.collapse.navbar-collapse#navbar-collapse-1
						ul.nav.navbar-nav
							li.shake
								a(href='#') Hello					
							li.shake
								a(href='#') Amazon

			.row
				.col-md-6.col-xs-12
					.main-ctrl(ng-controller='MainCtrl')
						dl.dl-horizontal
							div(ng-repeat="(k,v) in value")
								dt {{k}}
								dd {{v}}

						.input-group.input-group-lg
							span.input-group-btn
								button.btn.btn-primary test
							input.form-control(type='text',ng-model='text',ng-change='update(text)')
				