doctype html
html(ng-app="test")
	head
		title hello this is tokyo AWS
		script(src='/components/angular/angular.min.js')
		script(src='/components/angular-socket-io/socket.js')
		script(src='/lib/main.js')
		script(src='/socket.io/socket.io.js')
		link(rel='stylesheet',href='/components/bootstrap/dist/css/bootstrap.min.css')
		meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
	body
		.container
			nav.navbar.navbar-default
				.container-fluid
					.navbar-header
						a.navbar-brand AWS EC2
					ul.nav.navbar-nav
						li
							a(href='#') Test
					.pull-right
						a.navbar-brand powered by node+angular

			.row
				.col-md-6.col-xs-12
					.main-ctrl(ng-controller='MainCtrl')
						dl.dl-horizontal
							div(ng-repeat="(k,v) in value")
								dt {{k}}
								dd {{v}}

						.input-group.input-group-lg
							span.input-group-btn
								button.btn.btn-primary test
							input.form-control(type='text',ng-model='text',ng-change='update(text)')
				