doctype html
html(ng-app="test")
	head
		title hello this is tokyo AWS
		script(src='/components/angular/angular.min.js')
		script(src='/components/angular-socket-io/socket.js')
		script(src='/lib/main.js')
		script(src='/socket.io/socket.io.js')
		link(rel='stylesheet',href='/components/bootstrap/dist/css/bootstrap.min.css')
	body
		.container
			nav.navbar.navbar-default
				.container-fluid
					.navbar-header
						a.navbar-brand AWS EC2
					ul.nav.navbar-nav
						li
							a(href='#') Test
					.pull-right
						a.navbar-brand powered by node+angular

			.row
				.col-md-6
					p(ng-controller='MainCtrl')
						{{value}}
						button.btn.btn-default test
						input(type='text',ng-model='text',ng-change='update(text)')
				