doctype html
html(ng-app="test")
	head
		title hello this is tokyo AWS
		script(src='/components/angular/angular.js')
		script(src='/components/angular-socket-io/socket.js')
		script(src='/lib/main.js')
		script(src='/socket.io/socket.io.js')
	body
		h3 AWS
		p(ng-controller='MainCtrl')
			{{value}}
